
.restaurant-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .restaurant-item {
    display: flex;
    align-items: center;
    margin-top:0.8rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 5px 10px #8080803b!important;

  }
  
  .restaurant-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .restaurant-details {
    flex-grow: 1;
  }
  
  .restaurant-name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
h1 {
    margin-top:1rem!important;
    margin-bottom:0!important;
}
  
.page-banner-row-all {
  display:flex!important;;
  flex-direction:row;
  align-items: center;
  margin-top: 10px!important;
  
}

.page-banner-row-all ion-icon {
  width:30px!important;
  height:30px!important;
  margin-right: 10px;
  margin-top: 8px;
}

.page-desc-all {
margin-bottom:10px!important;
}

.restaurant-name {
  font-weight:700;
}