ion-title {
    text-align: center;
    color: white !important;
    font-family: var(--font-family-primary);
    font-size: 24px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    --padding-top:10px!important;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.add-item-label {
    font-family: var(--font-family-secondary) !important;
    font-size: 16px !important;
    margin-bottom: 5px;
    display: block; 
    padding-left: 2px; 
}

.input-field {
    background-color: white !important;
    border-radius: 5px !important;
    padding: 10px !important;
    font-family: var(--font-family-primary);
    width: 100%; 
    box-sizing: border-box; 
}

.modal-button {
    font-size: 16px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    margin-top: 20px; 
}

.form-item {
    width: 100%;
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column; 
    border-radius:5px;
}


.form-item input {
    justify-self:center!important;
}
input[type="text"], textarea, input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:white;
    width: 100%;
}


.file-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .file-input {
    display: none;
  }
  
  .image-form-wrap .input {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }

  @media (max-width:1440px) {
    .form-item .input-field {
        padding-top:5px!important;
        padding-bottom:8px!important;
    }

    .add-item-label {
        margin-bottom:10px!important;
        font-family: var(--font-family-primary)!important;
        font-size: 20px!important;
        font-weight:600;
    }


    .modal-image {
        max-width:200px;
        background-color:white;
        margin-top:20px;
        margin-bottom:20px;
    }

    .image-form-wrap {
        background-color:white;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .img-up-btn {
        display:block;
        text-align:center!important;
        margin-bottom:10px;
    }

    .img-up-btn::file-selector-button {
        font-family: var(--font-family-primary)!important;
        width:100%;
        margin:0 auto!important;
        color:white;
        background-color:var(--ion-color-secondary);
        border:2px solid var(--ion-color-secondary);
        border-radius:20px;
        display:block;
        margin-bottom:10px;
    }

    .item-upload input[type="file"] {
        position:relative;
        --text-align:center!important;
        font-family: var(--font-family-primary)!important;
        color:white;
        width:50%;
        border:0px!important;
    }
   


}

@media screen and (min-width:768px) {
    .modal-image {
        max-width:200px;
    }
}