ion-title {
    text-align: center;
    color: white !important;
    font-family: var(--font-family-primary);
    font-size: 24px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    --padding-top:10px!important;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.add-item-label {
    font-family: var(--font-family-secondary) !important;
    font-size: 16px !important;
    margin-bottom: 5px;
    display: block; 
    padding-left: 2px; 
}

.input-field {
    background-color: white !important;
    border-radius: 5px !important;
    padding: 10px !important;
    font-family: var(--font-family-primary);
    width: 100%; 
    box-sizing: border-box; 
}

.modal-button {
    font-size: 16px !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    margin-top: 20px; 
}

.form-item {
    width: 100%;
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column; 
    border-radius:5px;
}


.form-item input {
    justify-self:center!important;
}
input[type="text"], textarea, input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:white;
    width: 100%;
    box-sizing: border-box;
}


.file-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .file-input {
    display: none;
  }
  

  @media (max-width:1440px) {
    .form-item .input-field {
        padding-top:5px!important;
        padding-bottom:8px!important;
    }

    .add-item-label {
        margin-bottom:5px!important;
        font-family: var(--font-family-primary)!important;
        font-size: 18px!important;
        font-weight:600;
    }



}