.personal-card {
    display:flex!important;
    flex-direction:row!important;
}


.card-flex-content {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left:15px;
    margin-right:15px;
    padding-top:0px;
}

.per-card-title {
    font-family:var(--font-family-primary);
    font-size: calc(.75em + 2vw)!important;    color:black!important;
    padding-left:20px;
    margin-bottom:0px!important;

    

}



.per-card-content {
    display:flex;
    flex-direction:column;
    justify-content:center!important;
    text-align:center;
    
}

.per-card-content .button {
    width: 70px!important; 
    --height:30px!important;
 font-size:12px!important;
 padding-top: 6px;
 padding-bottom: 6px;
}


.per-btn-row {
    height:30px!important;
}

.personal-header .restaurant-thumbnail {
    margin-right:0!important;
}


.item-banner {
    padding-top:10px;
    width:100%;
}
 
.custom-button {
    --color: white;
    --border-radius: 2px;
    margin-top:0px!important;
    width: 100%;
    --height: auto;
    margin-bottom: 10px;
    font-size:100px!important;

  }



.accordion-expanded .item-lbl{

    --background:var(--ion-color-primary-tint);
    --color:white;

}

.item-expanded .accordion-expanded .item-label .title-exp {
    color:white!important;
}


.rest-per-card {
    margin-top:10px;
}

.per-card-content .button::part(native) {
    -webkit-padding-start: 0px!important;
    padding-inline-start: 0px!important;
     -webkit-padding-end:0px!important;
     padding-inline-end: 0px!important;
    padding-top: 0px!important;
     padding-bottom:0px!important;
     min-height:30px!important;
     font-size:14px;
     border-radius:3px;
     
}

.page-banner-row-menus ion-icon {
    width:30px!important;
    height:30px!important;
    margin-right: 10px;
    margin-top: 8px;

}

.page-banner-row-menus {
    display:flex!important;;
    flex-direction:row;
    align-items: center;
    padding-bottom:10px;
}

.acc-lbl  {
    font-size: calc(.9em + 1vw)!important;
    font-weight:600;

}

 .per-h2 {
    font-size: calc(1em + 2vw)!important;

}

.title-exp {
    font-size: calc(.6em + 1vw)!important;

}

.secondary-button .button {
    font-size: calc(.7em + 1vw)!important;
}

@media only screen and (min-width:666px) {

    .list-flx {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
    }

    .rest-per-card {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:45%;
    }
    .card-flex-content {
        flex-direction:column;
        align-items:center;
    }

    .per-card-title {
        margin-left:0;
        padding-left:5px;
        padding-right:5px;
        font-size: calc(.55em + 2vw)!important;
        text-align:center;


    }

}


@media only screen and  (max-width:666px) and (min-width:422px) {
    .personal-header .restaurant-thumbnail {
        width:100px;
        height:100px;
    }
}

@media (max-width:422px) {
    .per-card-content .button {
        width:50px!important;
        font-size:10px!important;
    }

    .personal-header .restaurant-thumbnail {
        width:75px;
        height:75px;
    }

    .per-card-content .per-btn-row {
        display:flex;
        flex-direction:row;
    }

    .per-card-content {
        padding-left:10px;
    }
    .card-flex-content {
        margin-left:0px!important;
        margin-right:0px;
    }

    .per-card-title {
        padding-right:5px;
        font-size: calc(.75em + 2vw)!important;

    }

  


  




    
}