.menu-img {
    width: 100px; 
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }
  .location-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .restaurant-banner {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .restaurant-banner img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .restaurant-banner h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .restaurant-banner p {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
.list-container {
  display:flex!important;
  flex-direction:column!important;

}

.list-container h5 {
  font-size: 1.5rem;
  font-weight: 700;
}



.menu-list {
  display:flex!important;
  flex-direction: column;
  background-color:transparent!important;
}


.ion-inherit-color {
  font-size: 1.0rem!important;
}

.menu-cards {
  background-color:white!important;
}