.menu-img {
  border-radius:25px;
    width: 50%; 
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }

  .image-div ion-img {
    border-radius: 25px!important;
  }
 
  .image-div  {
    display:flex;
    justify-content: center;
    
  }

  .full-badge {
    font-family:var(--font-family-primary)!important;
    font-size:  calc(0.5em + .9vw)!important;
    font-weight:500;


  }


  .location-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .restaurant-banner {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .restaurant-banner img {
    width: 100%;
    max-height: 175px;
    object-fit: cover;
  }
  
  .restaurant-banner h2 {
    margin-top: 10px;
    font-size:  calc(1.4em + 2.1vw)!important;
  }
  
  .restaurant-banner p {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
.list-container {
  display:flex!important;
  flex-direction:column!important;

}

.list-container h5 {
  font-size: calc(1em + 2.1vw)!important;
  padding-top:10px;
  font-weight: 700;
 
}



.menu-list {
  display:flex!important;
  flex-direction: column;
  background-color:transparent!important;
}


.ion-inherit-color {
  font-size: 1.0rem!important;
}

.menu-cards {
  background-color:white!important;
  text-align:center!important;
}


.allergens {
  font-size: 15px!important;
  color:black;
}

.item-name {
  color:black;
}


ion-segment-button .segment-button-checked {
  --indicator-color: transparent !important; 
  color: white !important;
  border-radius: 0px !important;
  background-clip: padding-box;
}

ion-segment-button {
  --indicator-color: transparent !important; 
  --indicator-box-shadow: none !important; 
  width: 100%;
  border-radius: 0px !important;
  --border-color:transparent!important;

  margin-top: 0 !important;
  margin-bottom: 0px !important;
  margin-left: 0 !important;
}

ion-segment {
  background-color: var(--ion-page-background) !important;
}

.segment-button-checked .seg-button {
  box-shadow: inset 0px -4px  0px -2px var(--ion-color-primary-tint) !important;
  background-clip: padding-box!important;
}

ion-segment {
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ion-segment::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}


.restaurant-banner ion-img {
  max-width:300px;
  align-items:center;
}


.restaurant-banner {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}




.menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content:space-between;
}

.item-name {
  margin-top:0px;
  font-size:  calc(0.8em + 1vw)!important;

}

.restaurant-banner h5 {
  font-size:  calc(1.8em + 1vw)!important;

}


.card-cont-flex {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

@media only screen and (min-width: 768px)   {
  .menu-list {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
  }
  .menu-cards {
    margin:5px;
    width:45%;
  }


  .list-container h5 {
    text-align:center;
  }

  .menu-cards p {
    font-size:  calc(0.2em + .8vw)!important;

  }

  .image-div {
    max-height:200px;
    display:flex;
    justify-content:center;
    object-fit:cover;
  }

  .image-div ion-img {
    display:flex;
    justify-content:center;
    object-fit:contain;

  }
}



@media only screen and (min-width: 500px) and (max-width:767px) {
  .menu-cards {
    width:40% - 1vh;
  }


  .menu-list {
    gap: 20px;
    width:100%;

  }
}

@media only screen and (max-width: 768px) {
.list-container h5 {
  padding-left: 5px;
}

}