.search-button{
    --background:var(--ion-color-secondary)!important;
}

.rest-save {
    --background:var(--ion-color-primary-tint)!important;
}

.search-container {
    display:flex!important;
    align-items: center!important;
    --background:var(--ion-page-background)!important;

}


.search-container .searchbar-input {
    background:white!important;
    padding-inline-start: 2.0rem!important;
    border-radius:15px!important;
    font-family:var(--font-family-primary)!important;
    font-weight:500;
    width:100%!important;
}


ion-searchbar {
    padding-left:0!important;
}

.searchbar-search-icon {
    inset-inline-start:7px!important;
    
}


.page-banner-row h2 {
    font-size: calc(1em + 1.5vw)!important;

}


.page-banner-row ion-icon {
    height: calc(1.5em + 1.5vw)!important;
    width:calc(1.5em + 1.5vw)!important;
}




.filter-icon  {
    font-size:24px!important;
    stroke-width:2px!important;
    cursor:pointer;
    margin:0!important;
    padding:0!important;
}

.filter-btn {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100%!important; 
    width: 40px!important; 
    --padding-start:0!important;
    --padding-end:1.0rem!important;
}

.filter-btn::part(native) {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
    --webkit-padding-start: 0 !important;
    --webkit-padding-end: 0 !important;
    --padding-inline-start: 0 !important;
    --padding-inline-end: 0 !important;
}

.dist-lbl {
    text-align:right!important;
    font-size: calc(0.5em + 1vw)!important;
    margin-right:16px;
    font-weight:600;
    font-family:var(--font-family-primary)!important;

}



.result-item {
    display:flex!important;
    border-bottom: 5px solid var(--background)!important;
    --inner-border-width:5px;
    margin-bottom:5px;
}


.result-col {
    display:flex;
    flex-direction:column;
    padding-top:10px;
}

.result-info p {
    white-space:normal;
    word-wrap:break-word;
    overflow-wrap: break-word;

}

.secondary-button, .button-row .button {
  font-size: calc(0.5em + 1vw)!important;
}

.result-info .rest-dist {
    font-size: calc(.75em + 1vw)!important;

}


.result-item ion-thumbnail {
    --size: 65px!important;
}


.result-item .result-info h3 {
    font-size: 16px!important;
    font-weight:600;
    font-size: calc(.85em + 1vw)!important;

}

.result-item .rest-add {
    font-size: calc(0.5em + 1vw)!important;
}

.result-item .button {
    font-size: calc(0.5em + 1vw)!important;
}


.result-item .rest-dist {
    color:black!important;
    font-size: calc(0.5em + 1vw)!important;
    font-family:var(--font-family-primary)!important;
    font-weight:700;

}

.result-btn-row .button {
    margin-top:2px!important;
}

@media only screen and (max-width: 666px) {

    .search-list {
        padding-left:10px;
        padding-right:10px;
    }
    .result-item ion-thumbnail {
        --size: 100px!important;
    }



}


@media only screen and (min-width:667px){
    .result-item ion-thumbnail {
        --size: 100px!important;
    }

    .result-item {
        border-bottom: 10px solid var(--background)!important
    }
    
}





@media only screen and (min-width:1024px) {
    .result-info .rest-dist, .result-info .rest-add {
        padding-left:0px!important;
    }


    .result-item ion-thumbnail {
        --size: 150px!important;
    }
    
}

@media only screen and (max-width:402px) {
    .result-col {
        text-align:center!important;

    }

    
}

