.location-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  

  .page-header {
    display:flex!important;
    align-items: center!important;
    justify-content:space-between!important;
    flex-direction:row!important;
    margin-bottom: 16px!important;
    padding-top:40px;
    padding-left:20px;
    padding-right:20px;
  }

 .secondary-button {
  text-transform:capitalize!important;
  font-weight:600;
  font-family: var(--font-family-primary)!important;
 }

  .button-block {
    display:flex!important;
  }

  .page-title {
    margin:0!important;
    font-size: calc(1em + 2vw)!important;

  }

  .user-all, .user-name {
    text-align:center;
  }

  .profile-banner .user-info h3 {
    font-size: calc(.85em + 2vw)!important;
        font-weight:700;
  }

 
  .container {
    display: flex!important;
    flex-direction: column!important;
    justify-content:space-between!important;
  
    gap: 16px; /* Space between buttons */
  }

  #IonButton {
    margin-left: 16px!important; 
    width: auto!important; 
    max-width: 400px!important; 
  }

  .profile-banner {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center; /* Ensure alignment */
    width:100%!important;
    gap:2px;
  }



  .page-color {
    background-color:white;
    border-radius:10px;
    box-shadow: 0px 3px 15px 0px var(--ion-color-primary-shadow);
    padding-bottom:15px;
    color:black!important;

  }

  .user-info 

  .prof-list {
    padding-left:25px;
    padding-right:25px;
  }

  .pad{
    --padding-top:20px!important;
    --padding-left:25px;
    margin-right:25px!important;
    --padding-start: 0px!important;
    --padding-end: 0px!important;
  }

  .prof-list h2 {
    font-size: calc(.75em + 2vw)!important;
    text-align:center;
  }

  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px!important; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    
  }
  
  .profile-avatar ion-img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  

  .button-row {

    border-top:2px solid '--ion-color-primary'!important;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }



.user-info {
  text-align:center;
}




.page-banner-row-user {
  display:flex!important;;
  flex-direction:row;
  align-items: center!important;
  margin-top: 10px!important;
  
}

.location-icon-row {
  display:flex!important;;
  flex-direction:row;
  align-items: center!important;
  justify-content: center!important;
}

.location-icon-row h4 {
  margin-left: 4px;
  text-align: center;
  margin-top:8px;
  text-align:center!important;
  font-size:  calc(2em + 2vw)!important;
}

.user-info h4 {
  font-size:  calc(0.7em + 1vw)!important;
}


.secondary-button, .button-row .button {
  font-size: calc(0.5em + 1vw)!important;
}






.rest-acc ion-label {
  font-size:  calc(0.7em + 1vw)!important;

}

.rest-acc.accordion-expanded .item-label {
  --background:var(--ion-color-primary-tint)!important;
  color:white!important;
  border-bottom: 5px solid var(--ion-page-background)!important;

}

.rest-acc ion-item {
  border-bottom: 5px solid var(--ion-page-background)!important;

}

.loc-acc {
  background-color:white!important;
}

.rest-acc  .ion-pad[slot="content"] {
  border-bottom: 5px solid var(--ion-page-background)!important;
  border-left:7px solid var(--ion-page-background)!important;
border-right:7px solid var(--ion-page-background)!important;


}


 .rest-acc.accordion-expanded {
  border-bottom: 7px solid var(--ion-page-background)!important;

 }

 .ion-pad .button {
  margin-top:5px;
  
 }

 .rest-acc .loc-items  {
  --padding-left:100px!important;
 }

.rest-acc {
  text-align:center;
}
.accordion-next .loc-items {
  --border-width:0px!important;
 }
 
 .loc.accordion-expanded .rest-items {
   border-bottom: 5px solid var(--ion-page-background)!important;
   --padding-left:10px!important;
 
 }



 .page-banner-row-user .person-icon {
  width:50px;
  height:50px;
  margin-right: 10px;
  
}

.loc-icon-user {
  color:var(--ion-color-primary);
  width:40px;
  height:40px;
 }


 .user-info {
  text-align:left;
 }





/*small tab and up*/

@media only screen and (min-width: 768px) and (max-width:2000px) {

  .profile-spacer {
    display:flex!important;
    flex-direction:row!important;
    align-items:center;
    justify-content:center!important;
    width:max-content!important;
    width:100%!important;
    
  }

  .loc-icon-user {
    color:var(--ion-color-primary);
    width:30px!important;
    height:50px!important;
   }

   .button-row {
    justify-content:space-around;
    align-items:center;
    margin-bottom: 40px;
   }

   .button-col {
    margin-left:10%;
    margin-right:10%;
    width:100%;
    justify-content:center;
    display:flex;
   }

   .location-icon-row {
    margin-left:-20px;
   }


  

  .profile-avatar {
    width:180px;
    height:180px;
    margin:3%;
    margin-right:10%;
  }

  .profile-banner {
    display:flex;
    flex-direction:row;
    align-items:center;
    width:65%!important;
    justify-content:center;
  }

  .page-color {

    width:80%;
    display:flex;
    justify-content:center!important;
    flex-direction:row;
    align-items:center;
    margin-left:10%;
    margin-bottom:20px;
  }

}
 @media only screen and (min-width: 667px) and (max-width: 768px) {
      .profile-spacer {
        display:flex!important;
        flex-direction:row!important;
        align-items:center;
        justify-content:center!important;
        width:max-content!important;
        width:100%!important;
        
      }

      .loc-icon-user {
        color:var(--ion-color-primary);
        width:30px!important;
        height:50px!important;
       }

       .button-row {
        justify-content:space-around;
        align-items:center;
        margin-bottom: 40px;
       }

       .button-col {
        margin-left:10%;
        margin-right:10%;
        width:100%;
        justify-content:center;
        display:flex;
       }

       .location-icon-row {
        margin-left:-30px;
       }

 
      

      .profile-avatar {
        width:175px;
        height:175px;
        margin:3%;
      }

      .user-info {
        display:flex!important;
        flex-direction:column;
        justify-content:start;
        margin:3%;
      }

      .profile-banner {
        display:flex;
        flex-direction:row;
        align-items:center;
        width:50%;
        justify-content:center;
      }

      .page-color {
        margin-right:20px;
        width:60%;
        display:flex;
        justify-content:center!important;
        flex-direction:row;
        align-items:center;
        margin-left:20%;
        margin-bottom:20px;
      }
 }


 /**up to small tablet*/
 @media only screen and (max-width: 666px) {
  .page-color {
    padding-top: 15px;
    margin-left:30px!important;
    margin-right:30px;
    margin-bottom:10px;

  }

  .user-info h3 {
    font-weight:700;
  }


  .page-color .profile-avatar {
    width:100px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .profile-spacer {
    display:flex;
    flex-direction:column;
    justify-content: center!important;
    

  }

  .secondary-button {
    font-weight:500!important;
    height: 20px!important;

  }

  .button-row {
    justify-content:center;

  }

  .button-row .button {
    margin-left:15px;
    margin-right:15px;
  }

}

/*Big screen and up*/
@media only screen and (min-width: 500px){
  .location-thumbnail {
    height:100%!important;
    overflow:hidden!important;
    position:relative;
  }

  .rest-thumb-img {
    display:flex;
    justify-content:center;
    align-items:center;
    height:40%!important;
    width:100%;
    align-items:center;
    object-fit:contain;
    margin-bottom: 15px;

  }

  .rest-thumb-img .location-thumbnail {
    width:40%!important;
    border-radius:10px;
    margin-top:10px;
  }
}
/*iphone screen and small tablet*/
@media only screen and (min-width: 376px) and (max-width: 500px) {
  .location-thumbnail {
    height:100%!important;
    overflow:hidden!important;
    position:relative;
  }

  .rest-thumb-img {
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px!important;
    width:100%;
    align-items:center;
    object-fit:contain;
    margin-bottom: 15px;

  }

  .rest-thumb-img .location-thumbnail {
    width:150px!important;
    border-radius:10px;
    margin-top:10px;


  }
}

/*small phone and up*/
@media only screen and (min-width:300px) {
  .prof-list {
    padding-left:20px!important;
    padding-right: 20px!important;
   }

   .loc-icon-user {
    color:var(--ion-color-primary);
    width:20px;
    height:20px;
   }
  
}
/*tablet and up*/
@media only screen and (min-width: 768px) {
   .ion-pad {
    width:50%;
    align-items:center;
   
  }

  .loc-items {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .prof-list {
    padding-left:100px!important;
    padding-right: 100px!important;
   }

   .rest-acc  {
    align-content: center!important;
   }

   .rest-acc .ion-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px; 
    border-radius: 8px; 
    background-color: white; 
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
}

.rest-acc  .location-thumbnail {
  width: auto; 
  aspect-ratio: 1/1;
  border-radius: 8px; 
  margin-bottom: 10px; 
}

.location-thumbnail {
  height:100%!important;
  overflow:hidden!important;
  position:relative;
}

.rest-thumb-img {
  height:300px!important;
  object-fit:contain;
  margin-bottom: 15px;

}
}


