/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900&display=swap" rel="stylesheet');

:root {
	--ion-color-primary: #02382E;
	--ion-color-primary-rgb: 45,89,73;
	--ion-color-primary-contrast: #FFFFFF;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #284e40;
	--ion-color-primary-tint: #308C6A;

	--ion-color-secondary: #29A678;
	--ion-color-secondary-rgb: 41,166,120;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #24926a;
	--ion-color-secondary-tint: #3eaf86;

	--ion-color-tertiary: #308C6A;
	--ion-color-tertiary-rgb: 48,140,106;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #276f55;
	--ion-color-tertiary-tint: #459879;
    --ion-color-tertiary-tint2: #66be9e;


	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #C5D9D0;
	--ion-color-light-rgb: 197,217,208;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #adbfb7;
	--ion-color-light-tint: #cbddd5;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;
    --font-family-primary: 'Urbanist', sans-serif!important;
    --font-family-secondary: 'Nunito Sans', sans-serif!important;


    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-toolbar-background: #02382E; 
    --ion-toolbar-height: 56px!important;
    --ion-color-primary: #02382E;
  --ion-tab-bar-background-color: #02382E!important; /* Use your primary color */
  --ion-tab-bar-color: #FFFFFF; /* Use your contrast color for the icons */
  --ion-tab-bar-selected-color: var(--ion-color-secondary); /* Use your contrast color for selected icons */
  --ion-background-color: #fbfbfb!important;
  --ion-page-background: #f2efef;
    

}


h1, h2, h3, h4, h5, .IonTitle, .IonHeader, .button, .IonLabel, .input-field, .native-input, .input-btn, ion-label, .IonText, ion-text {
    font-family: var(--font-family-primary)!important;

}

p {
    font-family: var(--font-family-secondary)!important;

}

.button {
    font-weight: 600;
    text-transform: capitalize!important;
    margin-top:10px;
    margin-bottom:10px;


}

h2 {
    font-size: 24px!important;
}

.ion-tab-bar {
    background-color:#02382E!important;
}


ion-content {
    --padding-top: var(--ion-toolbar-height)!important; /*  content starting below the toolbar */
    --background: var(--ion-page-background);
  }
  
  .inner-scroll {
    padding-top: var(--ion-toolbar-height)!important; 
    --background: var(--ion-page-background);
  }

  .tab-bar-label {
    font-family: var(--font-family-secondary) !important;
    font-size: 16px !important;
  }

  .app-logo {
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: calc(1.5em + 16px);
  }

  .toolbar-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .ion-menu-button {
    font-size: 1.5em;
    color: #fff!important; /* Ensure the color is set for the icon */
  }
  
  #background-content {
    --background:var(--ion-page-background);
  }

.button {
    color:white!important;
}
  @media (max-width: 768px) {
    .app-logo {
      height: 45px; /* Adjust size for smaller screens */
      margin-right: calc(1.2em + 16px);
    }
    .ion-menu-button {
      font-size: 1.2em; /* Adjust size for smaller screens */
    }
  }
  

  @media (prefers-color-scheme: dark) {

  
    .ion-menu-button {
      color: #fff!important; /* Ensure the menu button is visible in dark mode */
    }
  
    /* Additional styles for dark mode */
    .toolbar-container {
      background-color: #02382E; 
    }
  }


.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 1.2em;
    line-height: 1.2;
    hyphens: auto;
  }
  
